{
	"compiler": "component",
	"name": "DataItems",
	"version": "1.0.8",
    "email": "guilin.li@qunar.com",
	"author": "guilin.li",
    "description": "处理多数据项的添加删除等，如乘机人信息",
	"dependencies": {},
    "repository": "git@gitlab.corp.qunar.com:guilin.li/dataitems.git",
	"alias": {},
	"export": [
		"./index.js"
	]
}